services:
  kali:
    image: dockurr/linux
    container_name: kali
    environment:
      DISTRO: "kali"
      ISO: "https://cdimage.kali.org/current/kali-linux-2024.3-installer-amd64.iso"
      VERSION: "2024.3"
      USERNAME: "MASTER"
      PASSWORD: "admin@123"
      RAM_SIZE: "8G"
      CPU_CORES: "4"
      DISK_SIZE: "100G"
    devices:
      - /dev/kvm
      - /dev/net/tun
    cap_add:
      - NET_ADMIN
    ports:
      - "8007:8006"   # Web arayüz
      - "5901:5900"   # VNC
      - "33891:3389"  # RDP
    stop_grace_period: 2m
    
    
    
    
    name: Run Windows RDP Container

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 360

    steps:
      - name: Install Docker Compose & Curl
        run: |
          sudo apt update
          sudo apt install docker-compose curl -y

      - name: Create win10.yml
        run: |
          mkdir -p Windows
          cd Windows
          cat <<EOF > win10.yml
           services:
  kali:
    image: dockurr/linux
    container_name: kali
    environment:
      DISTRO: "kali"
      ISO: "https://cdimage.kali.org/current/kali-linux-2024.3-installer-amd64.iso"
      VERSION: "2024.3"
      USERNAME: "MASTER"
      PASSWORD: "admin@123"
      RAM_SIZE: "8G"
      CPU_CORES: "4"
      DISK_SIZE: "100G"
    devices:
      - /dev/kvm
      - /dev/net/tun
    cap_add:
      - NET_ADMIN
    ports:
      - "8007:8006"   # Web arayüz
      - "5901:5900"   # VNC
      - "33891:3389"  # RDP
    stop_grace_period: 2m
          EOF

      - name: Run Docker Compose
        run: |
          cd Windows
          docker-compose -f win10.yml up -d

      - name: Download Cloudflared
        run: |
          ARCH="amd64"
          URL="https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-${ARCH}"
          curl -L "$URL" -o cloudflared
          chmod +x cloudflared

      - name: Start Cloudflared Tunnel
        run: |
          ./cloudflared tunnel --url http://localhost:8006 --no-autoupdate > cf_log.txt 2>&1 &
          echo "Cloudflare linki oluşturuluyor..."
          sleep 10
          for i in {1..30}; do
            LINK=$(grep -o "https://.*\.trycloudflare\.com" cf_log.txt | head -n1)
            if [[ -n "$LINK" ]]; then break; fi
            sleep 2
          done
          echo "RDP bağlantı linkin: $LINK"
          echo "$LINK" > link.txt

      - name: Upload Cloudflare RDP Link
        uses: actions/upload-artifact@v4
        with:
          name: cloudflare-rdp-link
          path: link.txt

      - name: Sleep for 6 hours to keep container and tunnel alive
        run: |
          echo "6 saatlik RDP oturumu başladı. Güle güle kullan! Bu arada BabaproMemo Tarafindan Yapilmistir!"
          sleep 21600
